/* CSS Style */
/* Aligns the action button to the right */
.header-left {
  display: flex;
  align-items: center; 
  flex-grow: 1; 
}

.dashboard-header {
  position: relative;
}

.control-bar {
  position: absolute;
  right: 0; 
  top: 50%; 
  transform: translateY(-50%);
}

.control-button {
  margin-right: 10px; 
  background-color: #FFFFFF;
  color: #0137A6 ; 


}


/* Change the background color of the main header */
.main-header {
  background-color: #ffffff !important;
}

/* Optional: change the text color if needed */
.main-header .logo, .main-header .navbar .nav > li > a {
  color: #ffffff !important;
}

/* Setting the font-family for the entire body and relevant components */
body, .btn, .input, .selectize-input, .navbar, .sidebar, 
.content-wrapper, .main-sidebar, .left-side, .main-footer, .control-sidebar, .right-side,
h1, h2, h3, h4, h5, h6, .shiny-plot-output, .dataTable thead th {
  font-family: 'Mulish', sans-serif !important;
}

/* Style for active menu item */
body .main-sidebar .sidebar .sidebar-menu li.active > a {
  background-color: #17a2b8 !important;
  color: white !important;
}

/* Hover effects for non-active menu items */
body .main-sidebar .sidebar .sidebar-menu li a:hover {
  background-color: #96d1e8 !important;
  color: white !important;
}

/* Custom styles for bs4Cards in controlbar to ensure max-width */
.bs4-card-custom {
  max-width: 100%;
} 

/* Set the background color of the sidebar */
.main-sidebar {
  background-color: #f4f2ee !important;  /* Apply the desired color */
  box-shadow: none !important;
}

/* custom_styles.css */
.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding: 10px;
}

.sidebar-footer img {
  height: 70px;
}

/* Attempt to universally select and style the toggle button and any child elements */
.main-header .navbar .sidebar-toggle, 
.main-header .navbar .sidebar-toggle *, 
.main-header .navbar .sidebar-toggle svg {
    color: white !important;  /* Targets font icons and text */
    fill: white !important;  /* Targets SVG icons specifically */
}

/* Additional padding to push sidebar items down */
.sidebar-menu {
  padding-top: 150px; 
}

/* Style container to remove list style and position correctly */
.header-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start of the container */
  margin-left: 10px; /* Match the sidebar width */
  position: relative; /* Ensure the container is positioned correctly */
  width: 210px; /* Match the width of the sidebar-footer */
  text-align: center; /* Center the title text */
  padding: 3px 6px; /* Add padding to give some space around the title */
  background-color: #fff; /* Light background color to distinguish the title area */
  border-radius: 8px; /* Optional: Add rounded corners for a modern look */
  border: 1px solid #625f5f;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); /* Subtle shadow for a more professional look */

}

/* Style for the header title */
.header-title {
  font-size: 20px;
  font-weight: bold;
  color: #0137A6;
  padding-left: 15px; /* Space after the vertical line */
}